testazurededf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "testazurededf"
		},
		"ls_AzureSqlDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"ls_AzureSqlDatabase\"",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=testazuredeserversql.database.windows.net;Initial Catalog=DW_COVID;User ID=sqladmin"
		},
		"ls_azureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"ls_azureDataLakeStorage1\""
		},
		"ls_AzureDatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0111-230442-680ub6cj"
		},
		"ls_AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://testazurekvtest.vault.azure.net/"
		},
		"ls_FileServerMl_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\Administrador\\Desktop\\archive"
		},
		"ls_FileServerMl_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "Administrador"
		},
		"ls_azureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://testazurededl.dfs.core.windows.net/"
		},
		"ls_filesOnPremises_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\Administrador\\Desktop\\ETL-COVID"
		},
		"ls_filesOnPremises_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "Administrador"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ETL-COVID')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OnPremise-positivo",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "postivos_covid",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "positivos_covid_dl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "OnPremise-vacunacion",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "vacunacion_covid",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "vacunacion_covid_dl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "OnPremise-fallecidos",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "fallecidos_covid",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "fallecidos_covid_dl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ETL-POSITIVOS",
						"type": "DatabricksNotebook",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "OnPremise-positivo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/respaldodata1818@gmail.com/ETL-COVID/ETL-COVID"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "OnPremise-ubigeo",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ubigeo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ubigeo_dl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ETL-FALLECIDOS",
						"type": "DatabricksNotebook",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "OnPremise-fallecidos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/respaldodata1818@gmail.com/ETL-COVID/ETL-FALLECIDOS"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL-UBIGEO",
						"type": "DatabricksNotebook",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "OnPremise-ubigeo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/respaldodata1818@gmail.com/ETL-COVID/ETL-UBIGEO"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL-VACUNACION",
						"type": "DatabricksNotebook",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "OnPremise-vacunacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/respaldodata1818@gmail.com/ETL-COVID/ETL-VACUNACION"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "load-tb_ubigeo",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ETL-UBIGEO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ubigeo_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_ubigeo_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load-tb_metododx",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ETL-POSITIVOS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "metododx_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_metododx_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load-tb_positivos",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "load-tb_metododx",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "layers/gold/positivosGold",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "positivos_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_positivos_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load-tb_clasifiDef",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ETL-FALLECIDOS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "clasificacionDef_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_clasificacionDef_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load-tb_fallecidos",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "load-tb_clasifiDef",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "layers/gold/fallecidosGold",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "fallecidos_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_fallecidos_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load-tb_diresa",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ETL-VACUNACION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "diresa_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_diresa_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load-tb_fabricante",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ETL-VACUNACION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "fabricante_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_fabricante_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load-tb_grupo",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ETL-VACUNACION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "grupoRiesgo_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_grupo_riesgo_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load-tb_persona",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ETL-VACUNACION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "layers/gold/personasGold",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "persona_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_persona_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "load-tb_vacunacion",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "load-tb_persona",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "layers/gold/vacunacionGold",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "vacunacion_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_vacunacion_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-01-15T00:20:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/postivos_covid')]",
				"[concat(variables('factoryId'), '/datasets/positivos_covid_dl')]",
				"[concat(variables('factoryId'), '/datasets/vacunacion_covid')]",
				"[concat(variables('factoryId'), '/datasets/vacunacion_covid_dl')]",
				"[concat(variables('factoryId'), '/datasets/fallecidos_covid')]",
				"[concat(variables('factoryId'), '/datasets/fallecidos_covid_dl')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureDatabricks')]",
				"[concat(variables('factoryId'), '/datasets/ubigeo')]",
				"[concat(variables('factoryId'), '/datasets/ubigeo_dl')]",
				"[concat(variables('factoryId'), '/datasets/ubigeo_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_ubigeo_sql')]",
				"[concat(variables('factoryId'), '/datasets/metododx_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_metododx_sql')]",
				"[concat(variables('factoryId'), '/datasets/positivos_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_positivos_sql')]",
				"[concat(variables('factoryId'), '/datasets/clasificacionDef_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_clasificacionDef_sql')]",
				"[concat(variables('factoryId'), '/datasets/fallecidos_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_fallecidos_sql')]",
				"[concat(variables('factoryId'), '/datasets/diresa_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_diresa_sql')]",
				"[concat(variables('factoryId'), '/datasets/fabricante_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_fabricante_sql')]",
				"[concat(variables('factoryId'), '/datasets/grupoRiesgo_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_grupo_riesgo_sql')]",
				"[concat(variables('factoryId'), '/datasets/persona_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_persona_sql')]",
				"[concat(variables('factoryId'), '/datasets/vacunacion_parquet')]",
				"[concat(variables('factoryId'), '/datasets/tb_vacunacion_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ETL-ML')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OnPremise-Pacientes_cvs",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "pacientes_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "pacientes_ml_dl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ETL-PACIENTES",
						"type": "DatabricksNotebook",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "OnPremise-Pacientes_cvs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/respaldodata1818@gmail.com/ETL-ML/ETL-PACIENTES"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "OnPremise-Prestamos csv",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prestamos_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prestamos_dl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ETL-PRESTAMOS",
						"type": "DatabricksNotebook",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "OnPremise-Prestamos csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/respaldodata1818@gmail.com/ETL-ML/ETL-PRESTAMOS"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-01-16T13:17:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/pacientes_csv')]",
				"[concat(variables('factoryId'), '/datasets/pacientes_ml_dl')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureDatabricks')]",
				"[concat(variables('factoryId'), '/datasets/prestamos_csv')]",
				"[concat(variables('factoryId'), '/datasets/prestamos_dl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clasificacionDef_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-c319e247-982f-4508-84a0-90acb2c740d5.c000.snappy.parquet",
						"folderPath": "layers/gold/clasiDefGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_DEF",
						"type": "INT64"
					},
					{
						"name": "CLASIFICACION_DEF",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/diresa_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-016a8147-c07a-4ad8-acba-ea81c822ed25.c000.snappy.parquet",
						"folderPath": "layers/gold/diresaGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_DIRESA",
						"type": "INT64"
					},
					{
						"name": "CENTRO_DIRESA",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fabricante_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-66dbf32e-6f19-4e96-8077-b03710bd01c1.c000.snappy.parquet",
						"folderPath": "layers/gold/fabricanteGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_FABRICANTE",
						"type": "INT64"
					},
					{
						"name": "NOM_FABRICANTE",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fallecidos_covid')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_filesOnPremises",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dataset-covid"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "fallecidos_covid.csv",
						"folderPath": "DATASETS"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;id_persona",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_filesOnPremises')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fallecidos_covid_dl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "lake/load-covid"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "load/dataset-covid",
						"fileSystem": "storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FECHA_CORTE;DEPARTAMENTO;PROVINCIA;DISTRITO;METODODX;EDAD;SEXO;FECHA_RESULTADO;UBIGEO;id_persona",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fallecidos_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "layers/gold/fallecidosGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_DECESO",
						"type": "INT64"
					},
					{
						"name": "COD_UUID",
						"type": "UTF8"
					},
					{
						"name": "COD_DEF",
						"type": "INT64"
					},
					{
						"name": "COD_UBIGEO",
						"type": "UTF8"
					},
					{
						"name": "FECHA_FALLECIMIENTO",
						"type": "DATE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/grupoRiesgo_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-4311c577-fe41-4c34-af20-c28304c2e9e2.c000.snappy.parquet",
						"folderPath": "layers/gold/grupoRiesgoGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_GRUPO",
						"type": "INT64"
					},
					{
						"name": "TIPO_GRUPO",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/metododx_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-92834f85-5c40-4229-a2c1-023268c5fa01.c000.snappy.parquet",
						"folderPath": "layers/gold/metododxGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_METODO",
						"type": "INT64"
					},
					{
						"name": "METODODX",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pacientes_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_FileServerMl",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dataset-ml"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Pacientes2.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "NOEXPED",
						"type": "String"
					},
					{
						"name": "Enfermedad",
						"type": "String"
					},
					{
						"name": "HIPERTEN",
						"type": "String"
					},
					{
						"name": "HIPERGLU",
						"type": "String"
					},
					{
						"name": "HDLBAJA",
						"type": "String"
					},
					{
						"name": "HIPERTRI",
						"type": "String"
					},
					{
						"name": "CINTALTA",
						"type": "String"
					},
					{
						"name": "EDAD",
						"type": "String"
					},
					{
						"name": "GENERO",
						"type": "String"
					},
					{
						"name": "FUMA",
						"type": "String"
					},
					{
						"name": "ALCOHOL",
						"type": "String"
					},
					{
						"name": "POLIURIA",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_FileServerMl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pacientes_ml_dl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "lake/load-ml"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "load/dataset-ml",
						"fileSystem": "storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pacientes_new_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_FileServerMl",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dataset-ml"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Pacientes_nuevos.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "NOEXPED",
						"type": "String"
					},
					{
						"name": "HIPERTEN",
						"type": "String"
					},
					{
						"name": "HIPERGLU",
						"type": "String"
					},
					{
						"name": "HDLBAJA",
						"type": "String"
					},
					{
						"name": "HIPERTRI",
						"type": "String"
					},
					{
						"name": "CINTALTA",
						"type": "String"
					},
					{
						"name": "EDAD",
						"type": "String"
					},
					{
						"name": "GENERO",
						"type": "String"
					},
					{
						"name": "FUMA",
						"type": "String"
					},
					{
						"name": "ALCOHOL",
						"type": "String"
					},
					{
						"name": "POLIURIA",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_FileServerMl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pacientes_nuevos_dl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "lake/load-ml"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "load/dataset-ml",
						"fileSystem": "storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "NOEXPED",
						"type": "String"
					},
					{
						"name": "Enfermedad",
						"type": "String"
					},
					{
						"name": "HIPERTEN",
						"type": "String"
					},
					{
						"name": "HIPERGLU",
						"type": "String"
					},
					{
						"name": "HDLBAJA",
						"type": "String"
					},
					{
						"name": "HIPERTRI",
						"type": "String"
					},
					{
						"name": "CINTALTA",
						"type": "String"
					},
					{
						"name": "EDAD",
						"type": "String"
					},
					{
						"name": "GENERO",
						"type": "String"
					},
					{
						"name": "FUMA",
						"type": "String"
					},
					{
						"name": "ALCOHOL",
						"type": "String"
					},
					{
						"name": "POLIURIA",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/persona_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "layers/gold/personasGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_UUID",
						"type": "UTF8"
					},
					{
						"name": "EDAD",
						"type": "INT32"
					},
					{
						"name": "SEXO",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/positivos_covid_dl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "lake/load-covid"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "load/dataset-covid",
						"fileSystem": "storage"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/positivos_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "layers/gold/positivosGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_POSITIVO",
						"type": "INT64"
					},
					{
						"name": "COD_UUID",
						"type": "UTF8"
					},
					{
						"name": "COD_METODO",
						"type": "INT64"
					},
					{
						"name": "COD_UBIGEO",
						"type": "UTF8"
					},
					{
						"name": "FECHA_RESULTADO",
						"type": "DATE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/postivos_covid')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_filesOnPremises",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dataset-covid"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "positivos_covid.csv",
						"folderPath": "DATASETS"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FECHA_CORTE;DEPARTAMENTO;PROVINCIA;DISTRITO;METODODX;EDAD;SEXO;FECHA_RESULTADO;UBIGEO;id_persona",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_filesOnPremises')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/prestamos_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_FileServerMl",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dataset-ml"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "LoanApprovalPrediction.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Loan_ID",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Married",
						"type": "String"
					},
					{
						"name": "Dependents",
						"type": "String"
					},
					{
						"name": "Education",
						"type": "String"
					},
					{
						"name": "Self_Employed",
						"type": "String"
					},
					{
						"name": "ApplicantIncome",
						"type": "String"
					},
					{
						"name": "CoapplicantIncome",
						"type": "String"
					},
					{
						"name": "LoanAmount",
						"type": "String"
					},
					{
						"name": "Loan_Amount_Term",
						"type": "String"
					},
					{
						"name": "Credit_History",
						"type": "String"
					},
					{
						"name": "Property_Area",
						"type": "String"
					},
					{
						"name": "Loan_Status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_FileServerMl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/prestamos_dl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "lake/load-ml"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "load/dataset-ml",
						"fileSystem": "storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "NOEXPED",
						"type": "String"
					},
					{
						"name": "Enfermedad",
						"type": "String"
					},
					{
						"name": "HIPERTEN",
						"type": "String"
					},
					{
						"name": "HIPERGLU",
						"type": "String"
					},
					{
						"name": "HDLBAJA",
						"type": "String"
					},
					{
						"name": "HIPERTRI",
						"type": "String"
					},
					{
						"name": "CINTALTA",
						"type": "String"
					},
					{
						"name": "EDAD",
						"type": "String"
					},
					{
						"name": "GENERO",
						"type": "String"
					},
					{
						"name": "FUMA",
						"type": "String"
					},
					{
						"name": "ALCOHOL",
						"type": "String"
					},
					{
						"name": "POLIURIA",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_clasificacionDef_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_DEF",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CLASIFICACION_DEF",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_CLASIFICACIONDEF"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_diresa_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_DIRESA",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CENTRO_DIRESA",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_DIRESA"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_fabricante_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_FABRICANTE",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "NOM_FABRICANTE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_FABRICANTE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_fallecidos_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_DECESO",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "COD_UUID",
						"type": "nvarchar"
					},
					{
						"name": "COD_DEF",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "COD_UBIGEO",
						"type": "nvarchar"
					},
					{
						"name": "FECHA_FALLECIMIENTO",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FACT_FALLECIDOS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_grupo_riesgo_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_GRUPO",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "TIPO_GRUPO",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_GRUPO_RIESGO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_metododx_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_METODO",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "METODODX",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_METODODX"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_persona_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_UUID",
						"type": "nvarchar"
					},
					{
						"name": "EDAD",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "SEXO",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_PERSONA"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_positivos_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_POSITIVO",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "COD_UUID",
						"type": "nvarchar"
					},
					{
						"name": "COD_METODO",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "COD_UBIGEO",
						"type": "nvarchar"
					},
					{
						"name": "FECHA_RESULTADO",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FACT_POSITIVOS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_ubigeo_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_UBIGEO",
						"type": "nvarchar"
					},
					{
						"name": "COD_DEPARTAMENTO",
						"type": "nvarchar"
					},
					{
						"name": "NOM_DEPARTAMENTO",
						"type": "nvarchar"
					},
					{
						"name": "COD_PROVINCIA",
						"type": "nvarchar"
					},
					{
						"name": "NOM_PROVINCIA",
						"type": "nvarchar"
					},
					{
						"name": "NOM_DISTRITO",
						"type": "nvarchar"
					},
					{
						"name": "REGION",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_UBIGEO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_vacunacion_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/tables-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COD_VACUNACION",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "COD_UUID",
						"type": "nvarchar"
					},
					{
						"name": "COD_UBIGEO",
						"type": "nvarchar"
					},
					{
						"name": "COD_DIRESA",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "COD_GRUPO",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "COD_FABRICANTE",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "NUM_DOSIS",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "FECHA_VACUNACION",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FACT_VACUNACION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ubigeo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_filesOnPremises",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dataset-covid"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "TB_UBIGEOS.csv",
						"folderPath": "DATASETS"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_ubigeo",
						"type": "String"
					},
					{
						"name": "ubigeo_reniec",
						"type": "String"
					},
					{
						"name": "ubigeo_inei",
						"type": "String"
					},
					{
						"name": "departamento_inei",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "provincia_inei",
						"type": "String"
					},
					{
						"name": "provincia",
						"type": "String"
					},
					{
						"name": "distrito",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					},
					{
						"name": "macroregion_inei",
						"type": "String"
					},
					{
						"name": "macroregion_minsa",
						"type": "String"
					},
					{
						"name": "iso_3166_2",
						"type": "String"
					},
					{
						"name": "fips",
						"type": "String"
					},
					{
						"name": "superficie",
						"type": "String"
					},
					{
						"name": "altitud",
						"type": "String"
					},
					{
						"name": "latitud",
						"type": "String"
					},
					{
						"name": "longitud",
						"type": "String"
					},
					{
						"name": "Frontera",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_filesOnPremises')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ubigeo_dl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "lake/load-covid"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "load/dataset-covid",
						"fileSystem": "storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FECHA_CORTE",
						"type": "String"
					},
					{
						"name": "FECHA_FALLECIMIENTO",
						"type": "String"
					},
					{
						"name": "EDAD_DECLARADA",
						"type": "String"
					},
					{
						"name": "SEXO",
						"type": "String"
					},
					{
						"name": "CLASIFICACION_DEF",
						"type": "String"
					},
					{
						"name": "DEPARTAMENTO",
						"type": "String"
					},
					{
						"name": "PROVINCIA",
						"type": "String"
					},
					{
						"name": "DISTRITO",
						"type": "String"
					},
					{
						"name": "UBIGEO",
						"type": "String"
					},
					{
						"name": "id_persona",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ubigeo_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "part-00000-4763ae94-eb9e-4103-94a6-b668300554dd.c000.snappy.parquet",
						"folderPath": "layers/gold/ubigeoGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_UBIGEO",
						"type": "UTF8"
					},
					{
						"name": "COD_DEPARTAMENTO",
						"type": "UTF8"
					},
					{
						"name": "NOM_DEPARTAMENTO",
						"type": "UTF8"
					},
					{
						"name": "COD_PROVINCIA",
						"type": "UTF8"
					},
					{
						"name": "NOM_PROVINCIA",
						"type": "UTF8"
					},
					{
						"name": "NOM_DISTRITO",
						"type": "UTF8"
					},
					{
						"name": "REGION",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vacunacion_covid')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_filesOnPremises",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dataset-covid"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "vacunas_covid.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FECHA_CORTE",
						"type": "String"
					},
					{
						"name": "UUID",
						"type": "String"
					},
					{
						"name": "GRUPO_RIESGO",
						"type": "String"
					},
					{
						"name": "EDAD",
						"type": "String"
					},
					{
						"name": "SEXO",
						"type": "String"
					},
					{
						"name": "FECHA_VACUNACION",
						"type": "String"
					},
					{
						"name": "DOSIS",
						"type": "String"
					},
					{
						"name": "FABRICANTE",
						"type": "String"
					},
					{
						"name": "DIRESA",
						"type": "String"
					},
					{
						"name": "DEPARTAMENTO",
						"type": "String"
					},
					{
						"name": "PROVINCIA",
						"type": "String"
					},
					{
						"name": "DISTRITO",
						"type": "String"
					},
					{
						"name": "CLASIFICACION_VACUNA",
						"type": "String"
					},
					{
						"name": "TIPO_EDAD",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_filesOnPremises')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vacunacion_covid_dl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "lake/load-covid"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "load/dataset-covid",
						"fileSystem": "storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FECHA_CORTE;DEPARTAMENTO;PROVINCIA;DISTRITO;METODODX;EDAD;SEXO;FECHA_RESULTADO;UBIGEO;id_persona",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vacunacion_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "load-ETL/file-parquets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "layers/gold/vacunacionGold",
						"fileSystem": "storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "COD_VACUNACION",
						"type": "INT64"
					},
					{
						"name": "COD_UUID",
						"type": "UTF8"
					},
					{
						"name": "COD_UBIGEO",
						"type": "UTF8"
					},
					{
						"name": "COD_DIRESA",
						"type": "INT64"
					},
					{
						"name": "COD_GRUPO",
						"type": "INT64"
					},
					{
						"name": "COD_FABRICANTE",
						"type": "INT64"
					},
					{
						"name": "NUM_DOSIS",
						"type": "INT32"
					},
					{
						"name": "FECHA_VACUNACION",
						"type": "DATE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3668675530475119.19.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "dbricks-token-secret",
						"secretVersion": "561d6388bad3436880339ffca0f58a54"
					},
					"existingClusterId": "[parameters('ls_AzureDatabricks_properties_typeProperties_existingClusterId')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureSqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_AzureSqlDatabase_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqldatabase-secret",
						"secretVersion": "c07c96c654cb46c190e853414b0d0631"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_FileServerMl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ls_FileServerMl_properties_typeProperties_host')]",
					"userId": "[parameters('ls_FileServerMl_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "on-premise-secret",
						"secretVersion": "9674bdf848dc4901a38f6f75b7b3b576"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntimeOnPremise",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntimeOnPremise')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_azureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_azureDataLakeStorage1_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_filesOnPremises')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ls_filesOnPremises_properties_typeProperties_host')]",
					"userId": "[parameters('ls_filesOnPremises_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "on-premise-secret",
						"secretVersion": "9674bdf848dc4901a38f6f75b7b3b576"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntimeOnPremise",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntimeOnPremise')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeOnPremise')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		}
	]
}